name: Integration testing

on: [pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Replace .NPMRC
        run: sed -i "s/%NPM_TOKEN%/${{secrets.NPM_TOKEN}}/g" .npmrc || echo ".npmrc file not exists"

      - name: Install dependencies
        run: npm install
        
      - name: Run test
        run: npm run test:integration